* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html, body {
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: #000;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#back_to_top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: #000;
  padding: .5rem;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 1.5rem;
  width: 3rem;
  height: 3rem;
  opacity: 0.7;
  text-align: center;
  transform: rotate(90deg);
  z-index: 500;
}
#back_to_top:hover {
  opacity: 1;
}

.wrapper {
  background-image: url('./img/bkg.jpg');
  background-size: 100% auto;
}

header, .wrapper, footer {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header {
  text-align: center;
}
header img {
  width: 100%;
  display: block;
}
nav {
  background: #000;
  padding: .7rem 0;
  text-align: center;
  -webkit-box-shadow: 0 3px 5px 5px rgba(0,0,0,.4);
  box-shadow: 0 3px 5px 5px rgba(0,0,0,.4);
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all .2s linear;
}
nav a {
  text-decoration: none;
  margin: 0 2rem;
  display: inline-block;
}
nav a, h1 {
  font-family: 'Russo One', sans-serif;
  color: #fff;
}
#burger {
  display: none;
}
h1 {
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}
footer {
  color: #fff;
  text-align: center;
  padding: .5rem;
}
footer span {
  display: inline-block;
  padding: 0 .2rem;
}
footer .separator {
  display: inline-block;
  padding: 0 .3rem;
} 
section {
  min-height: 50vh;
  padding: 2rem 1rem 4rem;
}

@media screen and (max-width: 700px) {
  nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -40vh;
    left: 0;
    right: 0;
  }
  nav.expanded {
    top: 0px;
  }
  nav a {
    padding: .5rem;
  }
  #burger {
    display: block;
    top: 0;
    right: 0;
    position: fixed;
    cursor: pointer;
    padding: .2rem .4rem;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 0 10px;
  }
  footer .separator {
    display: none;
  }
}

/* HOME */

#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
}
#carousel {
  position: relative;
  border: 1px solid #000;
  justify-self: center;
  align-self: center;
}
#carousel img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  opacity: 0;
  max-width: none;
  max-height: none;
}
#carousel img:first-child {
  position: static;
}
#carousel img.current {
  opacity: 1;
}

#home p {
  border-radius: 10px;
  padding: 1.5rem;
  text-align: justify;
  background: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  align-self: center;
}

@media screen and (max-width: 700px) {
  #home {
    grid-template-columns: 1fr;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-gap: 1rem;
  }
  h1 {
    text-align: center;
    padding: 0;
  }
}

/* /HOME */



/* GALERÍA */

#gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 1rem;
}
#gallery-grid a {
  display: block;
  width: 100%;
  border: 2px solid #fff;
}
#gallery-grid a:hover, #gallery-grid a:focus {
  border: 2px solid #0099FF;
}
#gallery-grid a img {
  width: 100%;
  display: block;
  max-height: none;
}
#pagination {
  text-align: center;
}
#pagination button {
  cursor: pointer;
  background: none;
  border: 0;
  padding: 0;
  margin: 0 1rem;
  font-size: 2rem;
}

@media screen and (max-width: 700px) {
  #gallery-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

/* /GALERÍA */


/* PRODUCTOS */
#products {
  display: grid;
  grid-template-areas:
    'title title'
    'nav product';
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
}
#products h1 {
  grid-area: title;
}
#products .nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
}
#products .nav button {
  display: flex;
  cursor: pointer;
  background: linear-gradient(rgb(0,0,0), rgb(150,150,150));
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  height: 4rem;
  align-items: center;
  justify-content: center;
  border: 0;
  margin: 1rem;
  border-radius: 5px;
}
#products .nav button:hover, #products .nav button:focus {
  color: #0099FF;
}
.product {
  grid-area: product;
  display: grid;
  grid-template-areas:
    'title images'
    'description images';
  grid-template-columns: 1fr 1fr;
  display: none;
}
.product.current {
  display: grid;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1rem;
}
.product h2 {
  width: 100%;
  grid-area: title;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.product ul {
  grid-area: description;
  padding: 1.5rem;
}
.product .images {
  position: relative;
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  max-width: 28vw;
  max-height: 28vw;
  grid-area: images;
}
.product .images a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.product .images a.current {
  opacity: 1;
}
.product .images a:first-child {
  position: static;
}
.product .images a img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
@media screen and (max-width: 700px) {
  #products {
    grid-template-areas:
      'title'
      'nav'
      'product';
    grid-template-columns: 1fr;
  }
  #products .nav {
    flex-direction: row;
    justify-content: space-between;
  }
  #products .nav button {
    flex-grow: 1;
    padding: .3rem .5rem;
    margin: 0 .5rem;
  }
  .product .images {
    width: 300px;
    height: 300px;
    max-width: 40vw;
    max-height: 40vw;
  }
}
@media screen and (max-width: 500px) {
  .product {
    grid-template-areas: 'title' 'description' 'images';
    grid-template-columns: 1fr;
  }
  .product .images {
    width: 300px;
    height: 300px;
    max-width: 100%;
    justify-self: center;
  }
}

/* /PRODUCTOS */


/* CÁLCULO */
#calculator_fields {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #000;
  font-weight: bold;
}
#calculator_fields img {
  width: 100%;
}
#dimensiones {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 500px;
  max-width: 100%;
  display: flex;
}
#dimensiones > div {
  text-align: center;
  margin: 0 .5rem;
}
#divAtomizador6 {
  padding-top: 0px;
}
#divAtomizador5 {
  padding-top: 10px;
}
#divAtomizador4 {
  padding-top: 20px;
}
#divAtomizador3 {
  padding-top: 30px;
}
#divAtomizador2 {
  padding-top: 40px;
}
#divAtomizador1 {
  padding-top: 50px;
}
#atomizadores {
  position: absolute;
  top: 120px;
}
#atomizadores > div {
  float: left;
  width: 15%;
  text-align: center;
}
#atomizadores > div input {
  width: 80%;
}
#chorro {
  position: absolute;
  bottom: 100px;
}
#chorro > div {
  float: left;
  width: 120px;
  text-align: center;
}

#hints {
  font-size: 0.85em;
  bottom: 28px;
  background: rgba(255,255,255,0.7);
  padding: 5px 10px;
  border-radius: 5px;
}
#input_error {
  position: absolute;
  right: 16px;
  background: rgba(255,0,0,0.7);
  padding: 5px;
  border-radius: 5px;
  bottom: 80px;
  display: none;
}
.with_error #input_error {
  display: block;
}
#size_warning {
  display: none;
}
@media screen and (max-width: 500px) {
  #size_warning {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    height: 40vh;
  }
  #calculator_fields {
    display: none;
  }
}

/* /CÁLCULO */




/* CONTACTO */

#contact_us {
  display: grid;
  grid-template-areas:
    'title title'
    'semat map'
    'tecmoliq map';
  grid-template-columns: 1fr 2fr;
}
#contact_us h1 {
  grid-area: title;
}
#contact_semat {
  grid-area: semat;
}
#contact_tecmoliq {
  grid-area: tecmoliq;
}
#contact_semat, #contact_tecmoliq {
  text-align: center;
  font-weight: bold;
  margin: 1rem 0;
}
#map {
  grid-area: map;
  height: 300px;
}
@media screen and (max-width: 700px) {
  #contact_us {
    grid-template-areas:
      'title'
      'semat'
      'tecmoliq'
      'map';
    grid-template-columns: 1fr;
  }
}


/* /CONTACTO */
